@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../font/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../font/Montserrat-Regular.ttf);
    font-weight: 400;
}